@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bungee&family=Rajdhani:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/*font-family: 'Abril Fatface', cursive;
  font-family: 'Bungee', cursive;
  font-family: 'Rajdhani', sans-serif;*/
  :root {
    --cor-primaria: #282A36;
    --cor-fundo-clara: #999999;
    --cor-texto-claro: #FFFFFF;
    --cor-texto-escuro: rgb(15, 15, 15);
    --cor-menu: #535353;
}
  * {
    padding: 0;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    background-color:  rgb(32, 32, 32);
}

#Principal {
    background-color: var(--cor-fundo-clara); 
    padding: 20px;
    display: flex;
    flex-direction: row;
}

header {
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

a {
    color: var(--cor-texto-escuro);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*NAV'S*/

nav ul li {
    display: inline-block;
    margin: 10px;
}
nav {
    background-color: var(--cor-secundaria);      
}
nav img{
    width: 40px;
}

nav ul{
    text-align: center;
    align-items: center;
}

/*REDES SOCIAIS*/

#Rede-Social a {
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
}
#Rede-Social a span {
    margin-left: 6px;
    display: none;
}
#Rede-Social a:hover span {
    display: inline;
}
#Rede-Social {
    display: auto;
}

/*MENU*/
.menu{
    font-family: Bungee, Calibri, Arial;
}
.menu li{
    margin: 5px;
}
.menu ul {
    list-style-type: none;
    padding: 0;
    background-color: #110000;
}
.menu ul li {
    display: inline;
    position: relative;
}
.menu a{
    color: rgb(0, 174, 255);
    text-decoration: none;
    display: inline-block;
    padding: 9px 30px;
    transition: 0.6s;
    height: 100%;
}
.menu ul li a:hover {
    background-color: var(--cor-menu);
    padding: 9px 50px;
}
.menu ul li ul li a:hover{
    padding: 9px;
}
.menu ul li ul li{
    margin: 0;
}
.menu ul ul {
    display: none;
    left: 0;
    position: absolute;
}
.menu ul li:hover ul {
    display: block;
}
.menu ul li a:hover ul {
    display: inline-block;
}
.menu ul ul {
    width: 100%;
}
.menu ul ul li a {
    display: block;
}

ul{
    margin-block-end: 1em;
}

img {
    border-radius: 10px;
}
/*FOOTERS*/

footer {
    color: rgb(0, 174, 255);
    background-color: var(--cor-primaria);
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

footer a{
    color: rgb(0, 174, 255)
}
footer img{
    width:10%;                              
}
footer ul li {
    display: inline-block;
    padding: 0 12px;
    border-right: 3px solid #000000;
}
footer ul li:last-child {
    border-right: none;
}

/*MAiN*/

main, aside {
    background-color: var(--cor-menu);
    padding: 24px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
    flex-grow: 1;
    max-width: 100%;
}

main {
    width: 75%;
}

main > article > h2{ 
    text-transform: uppercase;
    color: rgb(0, 174, 255);
}

/*ASIDE*/

aside {
    margin-left: 20px;
    background-color: var(--cor-primaria);
    width: 25%;
}

aside p{
    font-family: Arial, Helvetica, sans-serif;
}

aside > article > a > img {
    display: block;
    margin: auto;
    border-radius: 30px;
    max-width: 100%;
    padding: 10px 0;
}

aside > article > h1 > a {
    font-size: 1rem;
    color: #000000;
}
aside > article > P {
    font-size: 1rem;
    color: #D3D3D3;
}

aside > article > h1 {
    margin-top: 6px;
}

aside h1{
    font-family: Bungee, Arial, Calibri;
}

/*NOTICIAS*/

#texto{
    font-family: Bungee, Calibri, Arial;
}

.GTA h1 a{
    font-family: 'Suez one', arial ;
    font-size: 28px;
}

.GTA{
    background-color: var(--cor-primaria);
    padding: 24px;
    border-radius: 10px;
}

.GTA img{
    width: 50%;
    border-radius: 10px;
}

.RedDead{
    padding-top: 40px;
}

.RedDead img{
    width: 40%;
}

.RedDead h1 a{
    font-family: 'Suez one', Arial ;
    font-size: 28px;
}

.Hollow{
        padding-top: 40px;
}

.Hollow img{
    width: 40%;
}

.Hollow h1 a{
        font-family: 'Suez one', Arial ;
        font-size: 28px;
}

.Minecraft-DG{
        padding-top: 40px;
}

.Minecraft-DG img{
    width: 40%;
}

.Minecraft-DG h1 a{
    font-family: 'Suez one', Arial ;
    font-size: 28px;
}
