@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bungee&family=Rajdhani:wght@600&display=swap');
/*font-family: 'Abril Fatface', cursive;
  font-family: 'Bungee', cursive;
  font-family: 'Rajdhani', sans-serif;*/
  :root {
    --cor-primaria: #474A51;
    --cor-fundo-clara: #C0C0C0;
    --cor-texto-claro: #FFFFFF;
    --cor-texto-escuro: black;
}
  * {
    padding: 0;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    background-color: black;
}

#Principal {
    background-color: #C0C0C0; 
    padding: 20px;
    display: flex;
    flex-direction: row; 
}

header {
    background-color: var(--cor-primaria);
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
a {
    color: var(--cor-texto-escuro);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*NAV'S*/

nav ul li {
    display: inline-block;
    margin: 10px;
}
nav {
    background-color: var(--cor-secundaria);      
}
nav img{
    width: 40px;
}

nav ul{
    text-align: center;
    align-items: center;
}

/*REDES SOCIAIS*/

#Rede-Social a {
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
}
#Rede-Social a span {
    margin-left: 6px;
    display: none;
}
#Rede-Social a:hover span {
    display: inline;
}
#Rede-Social {
    display: auto;
}

/*MENU*/
.menu{
    font-family: Bungee, Calibri, Arial;
}
.menu li{
    margin: 5px
}
.menu ul {
    list-style-type: none;
    padding: 0;
}
.menu ul {
    background-color: #808080;
}
.menu ul li {
    display: inline;
    position: relative;
}
.menu a{
    color: rgb(0, 174, 255);
    text-decoration: none;
    display: inline-block;
    padding: 9px 30px;
    transition: 0.6s;
    height: 100%;
}
.menu ul li a:hover {
    background-color: #696969;
    padding: 9px 50px;
}
.menu ul li ul li{
    margin: 0;
}
.menu ul ul {
    display: none;
    left: 0;
    position: absolute;
}
.menu ul li:hover ul {
    display: block;
}
.menu ul ul {
    width: auto;
}
.menu ul ul li a {
    display: block;
}

ul{
    margin-block-end: 1em;
    padding-inline-start: 40px;
}

/*FOTOS */

#foto{
    width: 300px;                              
}

/*FOOTERS*/

footer {
    background-color: var(--cor-primaria);
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer img{
    width:10%;                              
}
footer ul li {
    display: inline-block;
    padding: 0 12px;
    border-right: 3px solid #000000;
}
footer ul li:last-child {
    border-right: none;
}

main, aside {
    background-color: #696969;
    padding: 24px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
    flex-grow: 1;
    max-width: 100%;
}

main {
    width: 75%;
}

aside {
    margin-left: 20px;
    background-color: #696969;
    width: 25%;
}
aside > article > a > img {
    display: block;
    margin: 1 auto;
    border-radius: 4px;
    max-width: 100%;
    padding: 20px 0;
}
aside > article > h1 > a {
    font-size: 1rem;
    color: #000000;
}
aside > article > h1 {
    margin-top: 6px;
}

#texto{
    font-family: Bungee, Calibri, Arial;
}